<nav>
  <div class="nav-wrapper container">

    <a href="#!" class="title">Your Stories</a>
    <a
      href="#"
      data-target="mobile-demo"
      class="sidenav-trigger hamburger show-on-large"
    ><i class="fas fa-bars"></i></a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/stories">Public Stories</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard">Explore All</a></li>
      <li><a href="/dashboard">New Stories</a></li>
      <li><p class="black-text">Hi, I'm Jatin Yadav</p></li>

    </ul>
    <a href="/auth/logout" class="right">Logout</a>
  </div>
</nav>